*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.success{
    background-color: #075f44;
    font-size: 1.28rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.3rem 0.7rem;
    text-align: center;
}
.error{
    background-color: #f84848;
    font-size: 1.28rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.3rem 0.7rem;
    text-align: center;
}
.features{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.contactPage{
    width: 100vw;
    height: 100vh;
}
.contactPage .contact{
    height: 45vh;
    
}
.contactPage .contact form{
    height: 45vh;
    margin: 2rem 12rem -0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.contact .contact_form{ 
    padding: 1rem;  
    height: inherit; 
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.contact_form_top{
    display: flex;
    justify-content: space-between;
}
.contact_form_top_left{
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    flex: 1;
}
.contact_form_top_right{
    flex: 1;
}
.contact_form_field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.08rem; 
    font-family: 'Roboto', sans-serif;
}
.contact_form_field label{
    font-weight: 500;
    color: #555;
}
.contact_form_field input,
.contact_form_field select{
    width: 65%;
    font-size: 1.08rem;
    padding: 0.2rem;
    outline: none;
}
.contact_form_details{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.08rem;
    font-family: 'Roboto', sans-serif;
}
.contact_form_details span{
    margin-right: 0.6rem;
}
.contact_form_bottom{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 2rem 0;
}
.contact_form_bottom .contact_form_field label{
    margin-right: 11rem;
}
.contact_form_bottom .contact_form_field textarea{
    width: 63.5vw;
    height: 10vh;
    outline: none;
}
.contact_form_bottom .cta_buttons button{
    font-size: 0.9rem;
    font-weight: 600;
    background: #054f63;
    color: #fff;
    padding: 1.3rem 2rem;
    border: none;
    transition: 0.3s;
    margin: 1.2rem;
}
.contact_form_bottom .cta_buttons button:hover{
    background: #032a35;
}
.bold{
    font-weight: 600;
}
.loginPage{
    width: 100vw;
}
.login_hero{
    height: 76vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)),url(https://images.pexels.com/photos/3100371/pexels-photo-3100371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center/cover;
    position: relative;
}
.login_hero_card{
    border: 1px solid #fff;
    border-radius: 0.25rem;
    width: 32%;
    box-shadow: 1px 2px 5px #dcdbdb;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    padding: 1rem;
    color: #fff;
}
.login_hero_card_detail{
    margin: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login_hero_card_detail label{
    font-weight: 500;
    font-size: 1.05rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
}
.login_hero_card_detail input{
    outline: none;
    font-size: 1.05rem;
    padding: 0.25rem 0.5rem;
    width: 72%;
}
.login_hero_cta,
.register_hero_cta{
    text-align: center;
    margin-bottom: 0.8rem;
}
.login_hero_cta button,
.register_hero_cta button{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    background: #075f44;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.3rem;
    margin-right: 1.6rem;
    border: 1.5px solid #075f44;
    transition: all 0.3s ease;
    cursor: pointer;
}
.login_hero_cta button:hover,
.register_hero_cta button:hover{
    background: transparent;
    border: 1.5px solid #fff;
}
.login_hero_cta a,
.register_hero_cta a{
    color: #e6e4e4;
    text-decoration: none;
    font-size: 1.08rem;
    font-family: 'Roboto', sans-serif;
}
.registerPage{
    width: 100%;
}
.register_hero{
    width: 100vw;
    height: 79vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/3100371/pexels-photo-3100371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center/cover;
    position: relative;
}
.register_hero_form{
    border: 1.5px solid #fff;
    box-shadow: 2px 3px 5px rgba(251, 251, 251, 0.6);
    width: 35vw;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 0.3rem;
}
.register_hero_form_detail{
    color: #fff;
    margin: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.register_hero_form_detail label{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
.register_hero_form_detail input{
    width: 70%;
    outline: none;
    font-size: 1.05rem;
    padding: 0.25rem;
}
.gender,.hobbies{
    font-size: 1.1rem;
}
.gender label{
    margin-right: 4.5rem;
}
.hobbies label{
    margin-right: 4rem;
}
.gender input{
    margin-left: -3rem;
}
.hobbies input{
    margin-left: -2rem;
}